<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<style>
    .search-form {
        display: flex;
        flex-direction: column;
        gap: 12px;
        max-width: 300px;
    }

    input, button {
        padding: 8px 12px;
    }
</style>

<div class="search-form">
    <input type="search" placeholder="Поиск...">
    <button type="button">Выполнить поиск</button>
</div>
<style>
    div {
        display: flex;
        flex-direction: column;
        gap: 12px;
    }
</style>
<div>
    <h1>Пробный текст</h1>
    <h2>h2 Текст</h2>
    <h3>h3 Пробный текст</h3>
    <p>Установка системы «Дело» средствами графического инсталлятора.
        Работа системы «Дело» с кластером СУБД, когда второй экземпляр БД находится в режиме «только для чтения».
        Автоматизированный переход без потери данных и прерывания действующих сессий пользователей системы «Дело» на
        резервный экземпляр системы.
        Корректное завершение запущенных процессов (фоновых задач) в основном экземпляре системы и их перезапуск в
        резервном
        экземпляре.
        Масштабирование работы фоновых задач за счет использования нескольких хостов для распределения нагрузки.
        Резервирование файлового хранилища.
        Параллельная индексации объектов системы. Для каждого индексируемого объекта автоматически создается несколько
        параллельных потоков индексации.
        Формирование отчетных форм на втором (реплицированном) экземпляре сервера БД.
        Мониторинг группы серверов с помощью инструмента ELK (Elastic Search, Logstash, Kibana).</p>
    <a href="https://eos.ru/eos_support/eos_downloads/fajly-i-obnovleniya-delo-versiya-24-3/" target="_blank">Python</a>
    <img alt="browser.png" src="https://home.imgsmail.ru/whiteline/assets/logo/light/logo.svg?_1780557591282"
         style="width: 250px">
    <ul>
        <h3>Проверка списка - выьбрать элемент списка</h3>
        <li>Item1</li>
        <input type="search">
        <button type="button">Выполнить поиск</button>
        <li>item2</li>
        <li>Item3</li>

    </ul>
    <ol>
        <h3>Проверка списка - выьбрать элемент списка</h3>
        <li>Item1</li>
        <li>item2</li>
        <li>Item3</li>

    </ol>
    <form action="/action" method="POST">
        <h1>Залогиниться на сайт</h1>
        <p>Введите валидные данные для входа на сайт</p>
        <input required type="email" placeholder="Введите данные емейла">

        <h1>Пароль</h1>
        <input required type="password" placeholder="не болльше 12 символов, первая буква L">
        <button type="submit">Отправить данные</button>

    </form>
    <textarea placeholder="Введите ваши пожелания">
        </textarea>
</div>
<style>
    div {
        display: flex;
        flex-direction: column;
        gap: 12px;
    }
</style>
<form action="http://cn.ru" method="get">
    <div>
        <input required type="search" placeholder="Поиск...">
        <button type="submit">Очистить поиск</button>
    </div>
</form>
</body>

</html>