<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div>
    <form action="index.html">
  <h3 id="title-text" class="common-style title-style">Title</h3>
  <div>
    <label>Username</label>
    <input required type="text" id="username-input" class="common-style input-style" />
  </div>
  <div>
    <label for="password-input">Password</label>
    <input required type="password" id="password-input" class="common-style input-style" />
  </div>
  <button type="submit" id="login-button" class="common-style button-style">Login</button>
    </form>

</div>

</body>
</html>